# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/1.first-app/node_modules
/2.backroads/node_modules
/3.fundamentals/node_modules
/4.birthday-reminder/node_modules
/5.Axios-react/node_modules
/6.react-query/node_modules
/server/node_modules
/7.unsplash-images/node_modules
/8.mix-master/node_modules
/7.unsplash-images/.env
.pnp.js

# testing
/first-app/coverage

# production
/first-app/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
