$color-red:#FF0000;
$color-red-dark:#B22222;
$color-green:#32CD32;
$color-green-dark:#228B22;
$color-brown-light:#D2B48C;
$color-brown:#DAA520;
$color-blue-light:#87CEEB;
$color-blue-medium:#AFEEEE;
$color-blue:#4169E1;
$color-blue-dark:#00008B;
$color-yellow:#FFD700;
$color-violet:#C71585;
$color-silver:#C0C0C0;
$color-grey-light:#e0e0e0;
$color-purple:#4B0082;
$color-dark:#000000;
$color-pink:#FF69B4;
$color-pink-dark:#FF1493;
$color-white:#eceff1;

$border-radius-style:5px;
$border-style: 2px solid $color-silver;
$border-style-widther: 3px solid $color-silver;
$box-shadow: 0 1.5rem 1.5rem rgba($color-dark, .6);

$box-shadow-small: 0 1rem 1.3rem rgba($color-dark, .6);

