.main-banner{

    background: linear-gradient(rgba(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7)), url(../../img/main.jpeg);
    background-position: center;   
    background-size: cover;       

    color:var(--clr-white);
    height: 35vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding:0 5rem;

    .btn-banner{
        background-color:var(--clr-white);
        color:var(--clr-primary-5);
        padding:1.3rem;
    }

    .main-banner__text{
        text-align: justify;
    }
    
}
