/* .card {
    display:flex;
    margin: 0 1rem;
    width:400px;

    .card__img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        box-shadow: var(--shadow-3);
    }

    >:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 0;
        flex-wrap: wrap;
        align-content: center;
        >:first-child {
            flex: 0 0 100%;
        }
        >:nth-child(2) {
            color: var(--grey-500);
        }
    }
    
} */

.card {
    display: grid;
    grid-template-columns: 90px 1fr;
    align-items: center;
    margin-bottom: 1rem;

    .card__img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        box-shadow: var(--shadow-3);
    }

    >:nth-child(2) >:nth-child(2) {
        color: var(--grey-500);
    }
}

h4 {
    font-weight: 500;
    margin:0
} 
