
.nav-cart {
    background-color: var(--primary-600);
    color:var(--white);
    display:flex;
    justify-content: space-between;
    padding:15px;
    align-items: center;
    margin-bottom: 50px;

    :nth-child(2){
        font-size: 35px;
        display: flex;
        align-items: center;
        position: relative;

        .amount-items{
            position: absolute;
            top:-5px;
            right:-5px;
            background-color:var(--primary-300);
            font-size: 12px;
            border-radius: 50%;
            width:20px;
            height:20px;
            display: flex;
            justify-content: center;
        }
    }
}

.cart-container {

    display:grid;
    grid-template-columns: minmax(0,40px) min-content 1fr min-content minmax(0,40px);
    margin-bottom: 30px;

    .cart-image{
        width:100px;
        height:100px;
        grid-column: 2/3;
    }

    .cart-description {
        padding-left: 10px;
        align-self: center;
        font-size: 12px;

        .title{
            font-size: 14px;
        }
    }

    .amount-handler {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    .quantityIcon, .remove-btn{
       color: var(--primary-500);
       cursor:pointer;
    }
}

.total-container {
    display: flex;
    justify-content: space-between;

    :nth-child(2){
        background-color: var(--primary-400);
        color:var(--white);
        padding:3px;
        border-radius: 5px;
    }
}

footer{
   text-align: center;
}
.button--small {
    background-color: var(--primary-500);
    color:var(--white);
}

  .spinner {
    background-color: rgba(255,255,255,.5);
    width: 100px;
    height: 100px;
    border:4px;
    border-style: solid;
    border-radius: 50%;
    border-left-color: var(--primary-700);
    border-top-color: var(--primary-500);
    border-right-color: var(--primary-300);
    border-bottom-color: var(--primary-100);
    animation: spinner 0.6s linear infinite;

    position: fixed;
    left:65%;
    top:20%;

  }

  @keyframes spinner {
    to {
        transform: rotate(360deg);
      }
  }