:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* colors */
  --primary-100: #fae8ff;
  --primary-200: #f5d0fe;
  --primary-300: #f0abfc;
  --primary-400: #e879f9;
  --primary-500: #d946ef;
  --primary-600: #c026d3;
  --primary-700: #a21caf;
  --primary-800: #86198f;
  --primary-900: #701a75;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --green-primary:#10b981;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-height: 100vh;
  margin:0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button--primary {
  background-color: var(--green-primary);
  color:white;
}

.button--delete {
  background-color: var(--red-dark);
  color:white;
}

button:focus,
button:focus-visible {
  outline: 0px auto -webkit-focus-ring-color;
}

.button--small {
  padding: 0.3em .3em;
  font-size: .8em;
}

.form {
  background-color: var( --grey-100);
  border:2px solid var(--grey-400);
  border-radius: 5px;
  padding:20px 70px;
  box-shadow: var(--shadow-2);
  font-size: 16px;
  
  .form-title{
      text-align: center;
      text-transform: capitalize;
      letter-spacing: 2px;
  }

  .form-row{
      margin-bottom: 15px;
      display: flex;
      flex-wrap: wrap;
  }

  .form-label{
      font-weight: bold;
      display: block;
      text-transform: capitalize;
      flex: 0 0 95%; 
  }

  .form-check{
      flex: 0 0 5%; 
  }

  .form-input {
      border:2px solid var(--grey-400);
      border-radius: 5px;
      padding:10px;
      font-size: inherit;
      flex: 0 0 95%;
  }

  .form-input:focus {
      outline: none;
      border:2px solid var(--grey-500);
  }
 
  .btn:hover {
      border:2px solid var(--grey-500);
  }
 

  .btn-block {
      width:100%
  }
}

.center {
  text-align: center;
}

.spinner {
  background-color: rgba(255,255,255,.5);
  width: 100px;
  height: 100px;
  border:4px;
  border-style: solid;
  border-radius: 50%;
  border-left-color: var(--primary-700);
  border-top-color: var(--primary-500);
  border-right-color: var(--primary-300);
  border-bottom-color: var(--primary-100);
  animation: spinner 0.6s linear infinite;

  position: fixed;
  left:50%;
  top:30%;

}

@keyframes spinner {
  to {
      transform: rotate(360deg);
    }
}
