.curtain-top{
    width:100%;
    animation: slideUp 1.5s ease-in-out forwards;
    position: absolute;
    height: 43.8vh;
    top:12.4%;
    z-index: 20;
} 

.curtain-bottom{
    width:100%;
    animation: slideDown 1.5s ease-in-out forwards;
    position: absolute;
    top:56.2%;
    height: 43.8vh;
    z-index: 20;
    overflow: hidden;
}

@keyframes slideUp {
    0% {
        background-color: rgba(0, 0, 0, 9);
        height: 43.8vh;
    }

    60% {
        background-color: rgba(0, 0, 0, 0.8);
        height: 32.1vh;
    }
   
   75% {
        background-color: rgba(0, 0, 0, 0.6);
        height: 36.5vh;
    }

    99% {
        background-color: rgba(0, 0, 0, 0.4);
        height: 0vh;
    }
    100%{
        background-color: rgba(0, 0, 0, 0);
        z-index:-1;
    }
}

@keyframes slideDown {
    0% {
        background-color: rgba(0, 0, 0, 9);
        top:56.2%;
        height: 43.8vh;
    }
    60% {
        background-color: rgba(0, 0, 0, 0.8);
        top:67.9%;
        height: 32.1vh;
    }
    75% {
        background-color: rgba(0, 0, 0, 0.6);
        top:63.5%;
        height: 36.5vh;
    }
    99% {
        background-color: rgba(0, 0, 0, 0.4);
        top:100%;
        height: 0vh;
    }
    100%{
        background-color: rgba(0, 0, 0, 0);
        z-index:-1;
    }
}
