.profile {
    background-color: var(--color-white);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin: 5px 0px;
    padding: 5px;
    width: 40vw;
    display:flex;
    border-radius: 10px;

    .profile__img {
       width:25%;
       border-radius: 20%;
    }

    .profile__data{   
        display: flex;
        flex-wrap: wrap;
        width:75%;
        align-content: center;
        margin-left: 15px;
    }

    .profile__data *{
        flex:1 1 100%;  
    }
}

.form {
    background-color: var( --grey-100);
    border:2px solid var(--grey-400);
    border-radius: 5px;
    padding:20px 70px;
    box-shadow: var(--shadow-2);
    font-size: 16px;
    
    .form-title{
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 2px;
    }

    .form-row{
        margin-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    .form-label{
        font-weight: bold;
        display: block;
        text-transform: capitalize;
        flex: 0 0 95%; 
    }

    .form-check{
        flex: 0 0 5%; 
    }

    .form-input {
        border:2px solid var(--grey-400);
        border-radius: 5px;
        padding:10px;
        font-size: inherit;
        flex: 0 0 95%;
    }

    .form-input:focus {
        outline: none;
        border:2px solid var(--grey-500);
    }
   
    .btn:hover {
        border:2px solid var(--grey-500);
    }
   

    .btn-block {
        width:100%
    }
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;

    .nav-container{
        display:flex;
        align-items: center;
    }

    .nav-links {
        display:flex;
        list-style-type:none;

        .link {
            margin: 10px 10px;
        }
    }

    .btn {
        margin-left:10px
    }

    
}










