.tours {
    padding: 3rem 0;
    .section__title {
        text-align: center;
    }

    .section__title::after {
        content:" TOURS";
        color:var(--clr-primary-5);
    }

    .section__container {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(23vw,1fr));
        padding: 3rem 15rem;
        justify-content: center;  
        justify-items: center; 
    }
}


